.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap:4px;
}

.cell {
    width: 100px;
    height:100px;
    background-color:greenyellow;
    display: flex;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
}